*::before,
*::after {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to top right, #b8915e, #c24d39);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);
  margin: 50px;
  height: 100vh;

  color: azure;
}

button {
  cursor: pointer;
  color: white;
  background-color: rgb(48, 48, 48);
  border: 1px solid #804707;
  font-size: 22px;
  font-weight: 400;
  transition: background-color 0.1s;
  border-radius: 10px;
}
button:hover {
  background-color: #bb6708;
  transform: scale(1.1);
}

.result {
  grid-column: 1/6;
  background-color: rgb(56, 55, 55);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 10px;
}
.previous-action {
  font-size: 18px;
}
.current-action {
  font-size: 24px;
}

.col-two {
  grid-column: span 2;
}
.row-two {
  grid-row: span 2;
}

//nav

.hamburger {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  position: fixed;
}
.hamburger:hover {
  background-color: #ffffff00;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: white;
  z-index: 10;
}
nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right bottom, #3a4b39, #0d0e0d);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  transition: transforma 0.3s;
  transform: translateX(-100%);
}
.nav--active {
  transform: translateX(0);
  transition: transform 0.3s;
}
a {
  position: relative;
  margin: 1em;
  padding: 1em;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  border: 1px solid rgb(125, 173, 116);
  border-radius: 15px;
}
a:hover {
  color: rgb(125, 173, 116);
}
